[submodule "deps/DecompROS2"]
	path = deps/DecompROS2
	url = https://github.com/kotakondo/DecompROS2.git
[submodule "deps/dynus_interfaces"]
	path = deps/dynus_interfaces
	url = https://github.com/kotakondo/dynus_interfaces.git
[submodule "deps/acl-mapping"]
	path = deps/acl-mapping
	url = https://gitlab.com/mit-acl/lab/acl-mapping.git
[submodule "deps/gazebo_ros_pkgs"]
	path = deps/gazebo_ros_pkgs
	url = https://github.com/kotakondo/gazebo_ros_pkgs.git
[submodule "deps/uav_simulator"]
	path = deps/uav_simulator
	url = https://github.com/kotakondo/uav_simulator.git
[submodule "deps/livox_laser_simulation_ros2"]
	path = deps/livox_laser_simulation_ros2
	url = https://github.com/kotakondo/livox_laser_simulation_ros2.git
[submodule "deps/realsense_gazebo_plugin"]
	path = deps/realsense_gazebo_plugin
	url = https://github.com/kotakondo/realsense_gazebo_plugin.git
[submodule "deps/unitree-go2-ros2"]
	path = deps/unitree-go2-ros2
	url = https://github.com/kotakondo/unitree-go2-ros2.git
[submodule "deps/livox_ros_driver2"]
	path = deps/livox_ros_driver2
	url = https://github.com/kotakondo/livox_ros_driver2.git
	ignore = dirty
[submodule "deps/Livox-SDK2"]
	path = deps/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
	ignore = dirty
