<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- <xacro:include filename="$(find-pkg-share hector_sensors_description)/urdf/sonar_sensor.urdf.xacro" /> -->
  
  <!-- Main quadrotor link -->
  <!-- TODO: file path is hard coded-->
  <xacro:macro name="quadrotor_base_macro">
    <link name="base_link">
    
      <!-- <inertial>
        <mass value="1.477" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.01152" ixy="0.0" ixz="0.0" iyy="0.01152" iyz="0.0" izz="0.0218" />
      </inertial> -->

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="$(find sando)/meshes/quadrotor/quadrotor_base_2.dae" scale="0.5 0.5 0.5"/>
        </geometry>
      </visual>

      <!-- <collision>
        <origin xyz="0 0 0" rpy="0 0 ${45*pi/180}" />
        <geometry>
          <mesh filename="$(find sando)/meshes/quadrotor/quadrotor_base_2.stl"/>
        </geometry>
      </collision> -->

    </link>
    
    <gazebo reference="base_link">
      <gravity>0</gravity>
    </gazebo>

   </xacro:macro>
</robot>
